.about-us {
  background-image: url('../Assets/AboutBG.jpeg');
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* justify-content: flex-start; */
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 20px;
  
}
/* .about-title{
  display: flex;
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 60px;
} */
.about-p{
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.about-content{
  z-index: 1;
  line-height: 1.5;
  width: 65%;
  align-self: center;
}

/* Add a transparent overlay */
.about-us::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 80, 163, 0.6); /* Use rgba to set opacity */
  z-index: 0; /* Lower z-index to place the overlay below text */
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
 /*  align-self: flex-start;
  z-index: 1; Higher z-index to place the title above the overlay */
}

@media (max-width: 768px){

  .about-content{
    width: 100%;
    align-self: center;
  }

}