/* Contact.css */

/* Container Styles */
.contact-container {
  background-color: #1450A3;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Content Container Styles */
.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

/* Individual Section Styles */
.contact-form,
.contact-links,
.contact-info {
  flex: 1;
  margin: 0 10px;
  max-width: 400px;
}

/* Section Titles Styles */
.contact-form h2,
.contact-links h2,
.contact-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

/* Address and Paragraph Styles */
.contact-info address,
.contact-info p {
  margin: 10px 0;
}

/* Input Styles */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 5px;
}

/* Submit Button Styles */
button[type="submit"] {
  width: 100%;
  background-color: #337CCF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Submit Button Hover Styles */
button[type="submit"]:hover {
  background-color: #FFC436;
}
.form-group{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 35px; /* Gap between rows */
  }

  .form-group{
    display: flex;
    flex-direction: column;
  }
}

