/* Home.css */
.home-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 65%;
  align-self: center;
}
.home {
    background-image: url('../Assets/HomeBG.webp');
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: -1;
  }
  
  .home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 0; /* Place it above the background image */
  }

  .home p{
    display: inline-flex;
     /* width: 80%;  */
    /* font-size: larger; */
    color: white;
    z-index: 1;
    line-height: 1.5;
  }
  .home h1{
    display: flex;
    justify-content: center;
    width: 80%; 
    font-size: larger;
    color: white;
    z-index: 1;
  }

  .about-p{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
  }
  @media (max-width: 768px){

    .home {
      height: 100%;
      padding: 100px 20px 20px 20px;

    }

    .home p{
      width: 100%;
    }

    .home-content{
      width: 100%;
      align-self: center;
    }
  }