/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.navbar h1 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold;
  color: white;
  margin: 0;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Center-align navigation tabs */
  align-items: center;
  flex-grow: 1; /* Allow tabs to take up available space */
}

.navbar li {
  margin: 0 15px; /* Adjust the spacing between tabs as needed */
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px; /* Adjust the font size as needed */
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #FFC436; /* Change the color on hover (with opacity) */
}

/* Mobile menu styles */
.mobile-menu-toggle {
  display: none; /* Initially hide the mobile menu toggle button */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  padding: 10px;
  /* position: absolute; Position the toggle button on the right side */
  /* top: 10px; */
  /* right: 20px; 
  z-index: 1000; */
}
.navbar-left {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar ul {
    display: none; /* Hide the desktop navbar items on mobile */
  }

  .navbar.mobile-menu-open ul {
    display: flex; /* Show the mobile menu items when mobile menu is open */
    flex-direction: column;
    text-align: center;
  }

  .mobile-menu-toggle {
    display: block; /* Show the mobile menu toggle button */
  }

  .navbar.mobile-menu-open {    /* Add any other styles you want for the mobile menu open state */
    flex-direction: column;
    align-items: stretch;
    background-color: #000000f0;
    height: 100vh;
  }

  .navbar ul {
    justify-content: center; /* Center-align navigation tabs */
  }

  .mobile-menu-open .navbar-left {
    flex-grow: 0;
  }
}
