.header {
    background-color: #ffffff;
    padding: 5px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #2FBBCE;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  
  .nav-item {
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000000;
    font-weight:bolder;
  }
  
  .nav-link:hover {
    color: #42f2fe;
  }
  