.header {
    background-color: #000000;
    padding: 5px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-item {
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #42f2fe;
  }
  